extends layout

block content
  .container
    h3 Color template
    
    input(type='hidden', id='products', value='#{products}')
    script.
      var products = !{JSON.stringify(products)};
      /*
      var output = '';
      
      for (var property in data) {
        output += property + ': ' + data[property]+'; ';
      }
      console.log("this is output" + output);
     
      console.log(data);
  
      var products = []
      var products = data
      */
      
    ul
      each product, index in products
       li
         img(src=products[index].screenshot_url["300px"])