extends layout

block content
	- lnk = '/auth/twitter'
	- doit = false;
	-if(lid != undefined){
		- lnk = '/auth/twitter?con=' + lid;
		.starter(data-id= lid)
	-} else if(username != undefined){
		- doit = true;
		- lnk = '/auth/twitter?con=' + lid;
		.starter-user(data-id= username)
	-}
	.solid
		-if(oauth != undefined && doit != true){
			.psudo-content(style="text-align: center; padding: 20px 0px;")
				| <div style='font-weight:bold; color:#D95632; margin-bottom:5px;'>You haven't searched anything yet.</div> Click one of the popular products or enter a product id into the search.
			.top-products
		- } else {
			.starter-notup
			.psudo-content#welkomen
				| <div style='font-weight: bold; color: #515151; font-size: 25px;'>Welcome to Huntlytics</div><div style="width: 400px; line-height: 18px; margin: 15px auto 10px;"> Huntlytics is a Product Hunt analytics platform that uses the Twitter and PH api to get insights on your favorite posts.</div> <a href= !{lnk}><div class='signup-tool'>Sign in with Twitter</div></a> <div>(Twitter gives us better insight into who votes)  <br> <br> <b>You can use this service without Twitter, <br> but all you'll see is the historical vote data.</b></div>
		- }
				.content
			.content-header
				.content-header-item
					| <font id='productname' class='largepoint'>Loading</font> <font id='productdesc' >Getting stuff</font>
				.con.content-header-item.content-general.content-visible(style="font-size: 12px; margin-top:15px; margin-left: 20px;")
					| Voting data from <font style='font-weight:bold;' id='datepost'></font> | <font id='votecount' style='font-weight:bold;'>3</font> votes <font id='commentcount' style='font-weight:bold;'>34</font> comments			
			.con.content-general.content-visible
				