extends layout

block content
	- lnk = '/auth/twitter'
	- doit = false;
	-if(lid != undefined){
		- lnk = '/auth/twitter?con=' + lid;
		.starter(data-id= lid)
	-} else if(username != undefined){
		- doit = true;
		- lnk = '/auth/twitter?con=' + lid;
		.starter-user(data-id= username)
	-}
	.solid
		-if(oauth != undefined && doit != true){
			.psudo-content(style="text-align: center; padding: 20px 0px;")
				| <div style='font-weight:bold; color:#D95632; margin-bottom:5px;'>You haven't searched anything yet.</div> Click one of the popular products or enter a product id into the search.
			.top-products
		- } else {
			.starter-notup
			
		- }
